{% extends "base.html" %}

{% block head %}
    {{ super() }}    
{% endblock %}


{% block cssblock %}
<link href="static/css/base.css" rel="stylesheet" type="text/css">
<link href="static/css/myindex.css" rel="stylesheet" type="text/css">
{%endblock%}

{% block header %}
<div id="header">
	<h1>You Learn I Learn</h1>
</div>
{% endblock %}
{% block content %}
<div id="content">		  
    <div id="articles">
		{%- for art in arts -%}
		<div class="article">
			<div class="{{ loop.cycle('art', 'art even')}}">
				<div class="art_title">
					<h3>{{art.title}}</h3>
				</div>
				
				<div class="art_info">
					<a href="/article{{art.id}}">full text</a>
	                <a href="{{art.url}}">link</a>
				</div>
				
				<div class="art_desc">
					{{art.description}}
				</div>
				<br>
			</div>
		</div>
		{%- endfor %}
	</div>
</div>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
	<div id="user">
		<div id="username">
			<span>username:</span>{{user.username}}
		</div>
		
	</div>

</div>	
{% endblock %}
