{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block jsblock %}
{% endblock jsblock %}

{% block content %}
<div id="content">		  
    <form name="registerform" name="" method="post" action="/register">
        <div class="item extra-tips">
            <label>邮箱</label>
            <input id="email" name="email" type="text" class="basic-input" maxlength="60" tabindex="1" value=""/>
        </div>
		<div class="item extra-tips">
            <label>昵称</label>
            <input id="username" name="username" type="text" class="basic-input" maxlength="60" tabindex="1" value=""/>
        </div>
        <div class="item extra-tips">
            <label>密码</label>
            <input id="password" name="password" type="password" class="basic-input" tabindex="2" maxlength="20"/>
        </div>
        <div class="item-submit">
            <label>&nbsp;</label>
            <input type="submit" value="注册"  class="basic-button" tabindex="6" />
        </div>
    </form>
	
</div>
{% endblock %}
