<!DOCTYPE html>
<html>
<head>
    <title>RateIt</title>
    <link href="../src/rateit.css" rel="stylesheet" type="text/css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>

    <style>
        body
        {
            font-family: Tahoma;
            font-size: 12px;
        }
        h1
        {
            font-size: 1.7em;
        }
        h2
        {
            font-size: 1.5em;
        }
        h3
        {
            font-size: 1.2em;
        }
        ul.nostyle
        {
            list-style: none;
        }
        ul.nostyle h3
        {
            margin-left: -20px;
        }
    </style>
    <!-- alternative styles -->
    <link href="content/bigstars.css" rel="stylesheet" type="text/css">
    <link href="content/antenna.css" rel="stylesheet" type="text/css">
    <!-- syntax highlighter -->
    <link href="sh/shCore.css" rel="stylesheet" type="text/css">
    <link href="sh/shCoreDefault.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    <ul class="nostyle" id="examples">
       
       
        <li id="ex_6">
           
            <input type="hidden" id="backing6">
            <div id="rateit6">
            </div>
            <div>
                <span id="value6"></span><span id="hover6"></span>
            </div>

            <script type="text/javascript">
                $(function () { $('#rateit6').rateit({ max: 5, step: 1, backingfld: '#backing6' }); });
               
                $("#rateit6").bind('rated', function (event, value) { $('#value6').text('You\'ve rated it: ' + value); });
                $("#rateit6").bind('reset', function () { $('#value6').text('Rating reset'); });
                $("#rateit6").bind('over', function (event, value) { $('#hover6').text('Hovering over: ' + value); });
            </script>

           
        </li>
       
        <li id="ex_7b">
          
            <div id="rateithard" class="rateit antenna" data-rateit-starwidth="15.3" data-rateit-starheight="55">
            </div>
             <script type="text/javascript">
                $(function () { $('#rateithard').rateit({ max: 5, step: 1, backingfld: '#backing6' }); });
                 var hardnessvalues = ['extremly hard', 'hard', 'good', 'easy' ,'very easy'];
                $("#rateithard").bind('over', function (event, value) { $(this).attr('title', hardnessvalues[value-1]); });
            </script>
            
        </li>
     

        
        <li id="ex_11">
           
            <div id="products">
                <div style="float: right; width: 350px; border: 1px solid #ccc; padding: 1em;">
                    <strong>Server response:</strong>
                    <ul id="response">
                    </ul>
                </div>
                <ul>
                    <li>
                        <h4>
                            Product X (id: 312)</h4>
                        RateIt:
                        <div data-productid="312" class="rateit">
                        </div>
                    </li>
                    <li>
                        <h4>
                            Product Y (id: 423)</h4>
                        RateIt:
                        <div data-productid="423" class="rateit">
                        </div>
                    </li>
                    <li>
                        <h4>
                            Product Z (id: 653)</h4>
                        RateIt:
                        <div data-productid="653" class="rateit">
                        </div>
                    </li>
                </ul>
            </div>

            <script type="text/javascript">
                //we bind only to the rateit controls within the products div
                $('#products .rateit').bind('rated reset', function (e) {
                    var ri = $(this);

                    //if the use pressed reset, it will get value: 0 (to be compatible with the HTML range control), we could check if e.type == 'reset', and then set the value to  null .
                    var value = ri.rateit('value');
                    var productID = ri.data('productid'); // if the product id was in some hidden field: ri.closest('li').find('input[name="productid"]').val()

                    //maybe we want to disable voting?
                    ri.rateit('readonly', true);

                    $.ajax({
                        url: 'rateit.aspx', //your server side script
                        data: { id: productID, value: value }, //our data
                        type: 'POST',
                        success: function (data) {
                            $('#response').append('<li>' + data + '</li>');

                        },
                        error: function (jxhr, msg, err) {
                            $('#response').append('<li style="color:red">' + msg + '</li>');
                        }
                    });
                });
            </script>

        </li>
      <!--  <li id="ex_12">
            <h3>
                12) Initial value in different color</h3>
                <p>Sometimes we want to show the average rating as the initial value. In most cases this should be in a different color. </p>
                <p>RateIt is flexible enough to also allow this scenario with little effort.
                
                </p>


        </li>-->
    </ul>

    <script src="../src/jquery.rateit.js" type="text/javascript"></script>

    <script>
        //build toc
        var toc = [];
        $('#examples > li').each(function (i, e) {


            if (i > 0)
                toc.push(', ');
            toc.push('<a href="#')
            toc.push(e.id)
            toc.push('">')
            var title = $(e).find('h3:first').text();
            title = title.substring(title.indexOf(')') + 2);
            toc.push(title);
            toc.push('</a>');

        });

        $('#toc').html(toc.join(''));

    </script>

    <!-- syntax highlighter -->

    <script src="sh/shCore.js" type="text/javascript"></script>

    <script src="sh/shBrushJScript.js" type="text/javascript"></script>

    <script src="sh/shBrushXml.js" type="text/javascript"></script>

    <script src="sh/shBrushCss.js" type="text/javascript"></script>

    <script src="sh/shBrushCSharp.js" type="text/javascript"></script>

    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>

</body>
</html>
