{% extends "base.html" %}

{% block head %}
    {{ super() }}    
{% endblock %}


{% block cssblock %}
{{ super() }}
<link href="/static/css/videoindex.css" rel="stylesheet" type="text/css">
{% endblock %}

{
{% block header %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="span7">
 	
	<!--Body content-->
	    <div id="videos">
		{%- for video in videos -%}
		<div class="video_block row-fluid">

			<div class="video_picture img-rounded span3" >
				<a href="{{video.link}}" target="_blank"><img class="img-rounded video_img" src="{{video.thumbnail}}"/>
				</a>

			</div>
			<div class="video_info span9">
				<div class="video_title">
                    <a href="{{video.link}}" target="_blank"><strong class="title">{{video.title}}</strong></a>
				</div>				
				<div class="video_viewcount">
                    <span>Viewed:{{video.view_count}}</span>
				</div>
				<span class="video_tags">
			    {%- for tag in video.tags -%}
                <span class="label">{{tag}}</span>
                <span class=""> </span>
                {%- endfor -%} 				
                </span>
			</div>
		</div>
		{%- endfor %}
		</div>


</div>
{% endblock %}

{% block leftsidebar %}
<div class="span2">
<!--Sidebar content-->
	<div id="user">
	</div>
</div>	
{% endblock %}

{% block rightsidebar %}
<div class="span3">
<!--Sidebar content-->

	<div id="user">
	</div>
		<div class="btn-group">
    		<button id="guess_btn" type="submit" class="btn btn-success">Guess Videos</button>
    	</div>
</div>	
{% endblock %}

{% block jsblock %}
{{ super() }}
<script src="/static/js/videoindex.js" type="text/javascript"></script>
{% endblock %}