
.singletopic{
	border-width:1px 0px 0px;
	border-style:dashed;
	border-color: gray;
  padding:10px 0px 0px;
	margin:10px 0 60px;
  overflow: hidden;
}

.tpcomment{
	border-width:1px 0px 0px;
	border-style:dashed;
  border-color: gray;
  padding-top:10px;
	margin:10px 0 50px;	
}

.comment_editor{
  margin:60px 0 60px 0px;
}

.userinfo{
  width:140px;
  margin:0 0 0;
  float:left;
  color:black;
}

.edit_topic{
	display:inline;
	width:100px;
	text-align: center;
	float:right;
	color:black;
}
.topic_info{
  margin:0px 0px 30px;
}
.vote_cell {
	display:inline;
	float: right;
	width: 120px;
	text-align: center;
  	border: 1px 0 1px solid;
}
.vote_count{
	padding: 0px 3px 0px;
	border: 0px 1px 0px solid #ddd;

}
.comment_info{
  	display:block;
  	margin:0px 0px 30px;
}

.comment_content{
  /*border-width:1px 0px 0px;
  border-style:dashed;*/
  padding:10px 0px 10px;
}

.highlighted { 
  color: #DD4814; 
}
