

body {
	font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
	color: #3E3E3E;
	background: #94C5EB url(../images/background-grad.png) repeat-x;
	font-size: 12px;
}

p {
	padding: 5px;
}

a {
	color: #3687AF;
}

#container{
	margin:20px auto;
	text-align: left;
	width: 800px;
}

#header{
	height: 100px;
	color: #172322;
}

#main{
  position:relative;
  width:800px;
	background-color: #fff;
}

#content{
  width:620px;
  border-right:2px dotted;
  border-bottom:2px dotted;
	padding: 20px 15px 20px 15px;

} 
#sidebar{
  padding:20px 15px 15px 15px;
	position:absolute;
	left:650;
	width: 150px;
}
#footer{
	background-color: #fff;
	padding:15px;
  	clear: both;
}



